@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm px-1 w-full py-2 px-3;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-gray-800 mb-4 text-xl;
}

label {
  @apply text-gray-600 text-sm;
}

.btn-primary {
  @apply text-white px-4 py-1 rounded-sm shadow-sm;
}

thead tr {
  @apply bg-gray-50 border-b border-gray-200 text-xs leading-4 text-gray-500 uppercase tracking-wider
}

tbody tr {
  @apply border-b bg-gray-50 border-gray-200 text-xs leading-4 text-gray-500 uppercase tracking-wider
}

tbody {
  @apply [&>*:nth-child(even)]:bg-gray-200
}

tr td {
  @apply border text-left p-2 py-5
}

tr th {
  @apply border text-left p-2 py-4 text-slate-500
}

.file-input {
  width: 120px;
  height: 20px;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

/* table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-1;
}

table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
} */

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}

.btn-default {
  @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}